<!DOCTYPE html>
<html>
  <head></head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div style="display: inline-block;">
      <div style="display: inline-block; margin: 10px 10px;">
        <a href="/auth/facebook">Login with Facebook</a>
      </div>
      <div style="display: inline-block; margin: 10px 10px;">
        <a href="/auth/google">Sign In with Google</a>
      </div>
    </div>
  </body>
</html>
